<div class="col-xs-12 col-sm-10" ng-app="airtelApp">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-9">
          </div>
          <div class="col-lg-3">
              <div class="form-group has-feedback">
                <label for="search" class="sr-only">Search</label>
                <input type="text" class="form-control" name="search" id="search" placeholder="search" ng-model= "myFilters">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-6 col-lg-6" ng-controller="usersController">
                        <table class="table table-bordered table-hover table-striped">
                            <tbody>
                              <thead>
                                <tr>
                                  <th>Cost Unit </th>
                                  <th>Total_Users</th>
                                  <th>MI Charges</th>
                                  <th>Tax</th>
                                  <th>RC</th>
                                  <th>Roaming</th>
                                  <th>Total Discount</th>
                                  <th>Final Amount</th>
                                </tr>
                              </thead>
                                <tr ng-repeat="data in contents|filter:myFilters">
                                   <td  font-family="Arial, Helvetica, sans-serif"><h5>{{data._id.split('-')[1]}}</h5></td>
                                   <td width="80px" font-family="Arial, Helvetica, sans-serif"><h5>{{data.totalUsers}}</h5></td>
                                    <td width="180px" font-family="Arial, Helvetica, sans-serif"><h5>{{data.MI_charges}}</h5></td>
                                   <td font-family="Arial, Helvetica, sans-serif"><h5>{{:: data.Tax}}</h5></td>     
                                   <td font-family="Arial, Helvetica, sans-serif"><h5>{{data.RC}}</h5></td>  
                                   <td font-family="Arial, Helvetica, sans-serif"><h5>{{data.Roaming}}</h5></td>
                                   <td font-family="Arial, Helvetica, sans-serif"><h5>{{data.TotalDiscount}}</h5></td>    
                                   <td font-family="Arial, Helvetica, sans-serif"><h5>{{data.Total_Bill}}</h5></td>                         
                                </tr>
                            </tbody>
                        </table>
            </div>
        </div>
    <!--/row-->
</div>
